/*******************************************************
 * ROFI configs i3 Apps menu for EndeavourOS
 * Maintainer: joekamprad [joekamprad //a_t// endeavouros.com]
 *******************************************************/
configuration {
    font:                "Iosevka Nerd Font 18";
    show-icons:          true;
    icon-theme:          "Candy";
    display-drun:        "Apps";
    drun-display-format: "{name}";
    scroll-method:       0;
    disable-history:     false;
    sidebar-mode:        false;
}

@import "~/.config/rofi/config.rasi"

